In [3]:
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


%matplotlib inline
sns.set()

In [4]:
DATA_DIR = Path.cwd().parent / 'gaec_altlabs'

In [47]:
train_values = pd.read_csv(DATA_DIR / 'train_values.csv', index_col='sequence_id')
train_labels = pd.read_csv(DATA_DIR / 'train_labels.csv', index_col='sequence_id')
test_values = pd.read_csv(DATA_DIR / 'test_values.csv', index_col='sequence_id')

In [6]:
test_values.head()

,sequence,bacterial_resistance_ampicillin,bacterial_resistance_chloramphenicol,bacterial_resistance_kanamycin,bacterial_resistance_other,bacterial_resistance_spectinomycin,copy_number_high_copy,copy_number_low_copy,copy_number_unknown,growth_strain_ccdb_survival,...,species_budding_yeast,species_fly,species_human,species_mouse,species_mustard_weed,species_nematode,species_other,species_rat,species_synthetic,species_zebrafish
sequence_id,,,,,,,,,,,,,,,,,,,,,
E0VFT,AGATCTATACATTGAATCAATATTGGCAATTAGCCATATTAGTCAT...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
TTRK5,GCGCGCGTTGACATTGATTATTGACTAGTTATTAATAGTAATCAAT...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2Z7FZ,GCTTAAGCGGTCGACGGATCGGGAGATCTCCCGATCCCCTATGGTG...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VJI6E,ATGATGATGATGTCCCTGAACAGCAAGCAGGCGTTTAGCATGCCGC...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
721FI,GGTACCGAGCTCTTACGCGTGCTAGCCATACTATCAGCCACTTGTG...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
train_labels.head()

,00Q4V31T,012VT4JK,028IO5W2,03GRNN7N,03Y3W51H,09MQV1TY,0A4AHRCT,0A9M05NC,0B9GCUVV,0CL7QVG8,...,ZQNGGY33,ZSHS4VJZ,ZT1IP3T6,ZU6860XU,ZU6TVFFU,ZU75P59K,ZUI6TDWV,ZWFD8OHC,ZX06ZDZN,ZZJVE4HO
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5SAQC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
E7QRO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CT5FP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7PTD8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# get the column with the max value in each row
lab_ids = pd.DataFrame(train_labels.idxmax(axis=1), columns=['lab_id'])

In [9]:
lab_ids.tail()

               lab_id
sequence_id
BOQSD        3EZXYI3U
5XVVU        3EZXYI3U
CVGHF        3EZXYI3U
ZVT1A        3EZXYI3U
U5MR3        3EZXYI3U

In [10]:
# Sort lab ids by prevalence
(lab_ids['lab_id'].value_counts(normalize=True)
        .sort_values(ascending=False)).head()

I7FXTVDP    0.131488
RKJHZGDQ    0.043353
GTVTUGVY    0.042401
A18S09P2    0.016884
Q2K8NHZY    0.015440
Name: lab_id, dtype: float64

In [11]:
bases = set(''.join(train_values.sequence.values))

In [12]:
from itertools import permutations

n = 4
subsequences = [''.join(permutation) for permutation in permutations(bases, r=n)]

In [13]:
print(f"Number of subsequences: {len(subsequences)}")
subsequences[:10]

Number of subsequences: 120

['GTAC',
 'GTAN',
 'GTCA',
 'GTCN',
 'GTNA',
 'GTNC',
 'GATC',
 'GATN',
 'GACT',
 'GACN']

In [14]:
print(f"Number of subsequences: {len(subsequences)}")
subsequences[:10]

Number of subsequences: 120

['GTAC',
 'GTAN',
 'GTCA',
 'GTCN',
 'GTNA',
 'GTNC',
 'GATC',
 'GATN',
 'GACT',
 'GACN']

In [17]:
"gattattattaca".count("atta")

2

In [22]:
def get_ngram_features(data, subsequences):
    """Generates counts for each subsequence.

    Args:
        data (DataFrame): The data you want to create features from. Must include a "sequence" column.
        subsequences (list): A list of subsequences to count.

    Returns:
        DataFrame: A DataFrame with one column for each subsequence.
    """
    features = pd.DataFrame(index=data.index)
    for subseq in subsequences:
        features[subseq] = data.sequence.str.count(subseq)
    return features

In [29]:
# Calculate n-gram features on our training set
ngram_features = get_ngram_features(train_values, subsequences)
ngram_features.head()

,GTAC,GTAN,GTCA,GTCN,GTNA,GTNC,GATC,GATN,GACT,GACN,...,NATG,NATC,NACG,NACT,NCGT,NCGA,NCTG,NCTA,NCAG,NCAT
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,15,0,28,0,0,0,32,0,30,0,...,0,0,0,0,0,0,0,0,0,0
5SAQC,1,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
E7QRO,1,0,0,0,0,0,1,0,3,0,...,0,0,0,0,0,1,0,0,0,0
CT5FP,1,0,3,0,0,0,7,0,3,0,...,0,0,0,0,0,0,0,0,0,0
7PTD8,4,0,7,0,0,0,3,0,6,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
ngram_features.shape

(63017, 120)

In [34]:
all_features = ngram_features.join(train_values.drop('sequence', axis=1))

In [36]:
all_features.head()

,GTAC,GTAN,GTCA,GTCN,GTNA,GTNC,GATC,GATN,GACT,GACN,...,species_budding_yeast,species_fly,species_human,species_mouse,species_mustard_weed,species_nematode,species_other,species_rat,species_synthetic,species_zebrafish
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,15,0,28,0,0,0,32,0,30,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5SAQC,1,0,0,0,0,0,1,0,1,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
E7QRO,1,0,0,0,0,0,1,0,3,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
CT5FP,1,0,3,0,0,0,7,0,3,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7PTD8,4,0,7,0,0,0,3,0,6,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
def top10_accuracy_scorer(estimator, X, y):
    """A custom scorer that evaluates a model on whether the correct label is in 
    the top 10 most probable predictions.

    Args:
        estimator (sklearn estimator): The sklearn model that should be evaluated.
        X (numpy array): The validation data.
        y (numpy array): The ground truth labels.

    Returns:
        float: Accuracy of the model as defined by the proportion of predictions
               in which the correct label was in the top 10. Higher is better.
    """
    # predict the probabilities across all possible labels for rows in our training set
    probas = estimator.predict_proba(X)
    
    # get the indices for top 10 predictions for each row; these are the last ten in each row
    # Note: We use argpartition, which is O(n), vs argsort, which uses the quicksort algorithm 
    # by default and is O(n^2) in the worst case. We can do this because we only need the top ten
    # partitioned, not in sorted order.
    # Documentation: https://numpy.org/doc/1.18/reference/generated/numpy.argpartition.html
    top10_idx = np.argpartition(probas, -10, axis=1)[:, -10:]
    
    # index into the classes list using the top ten indices to get the class names
    top10_preds = estimator.classes_[top10_idx]

    # check if y-true is in top 10 for each set of predictions
    mask = top10_preds == y.reshape((y.size, 1))
    
    # take the mean
    top_10_accuracy = mask.any(axis=1).mean()
 
    return top_10_accuracy

In [40]:
from sklearn.ensemble import RandomForestClassifier

In [42]:
# Rename our feature array
X = all_features

# Create our labels
y = lab_ids.values.ravel()

In [43]:
# instantiate our RF Classifier
rf = RandomForestClassifier(
    n_jobs=4, 
    n_estimators=150,
    class_weight='balanced', # balance classes
    max_depth=3, # shallow tree depth to prevent overfitting
    random_state=0 # set a seed for reproducibility
)

# fit our model
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
                       criterion='gini', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, min_impurity_decrease=0.0,
                       min_impurity_split=None, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       n_estimators=150, n_jobs=4, oob_score=False,
                       random_state=0, verbose=0, warm_start=False)

In [46]:
rf.score(X, y)

0.17066823238173826

In [49]:
test_ngram_features = get_ngram_features(test_values, subsequences)
all_test_features = test_ngram_features.join(test_values.drop('sequence', axis=1))

In [50]:
probas = rf.predict_proba(all_test_features)

# Examine first row
probas[0]

array([0.00092669, 0.00111313, 0.00106744, ..., 0.00098515, 0.00025954,
       0.00014027])

In [52]:
submission_format = pd.read_csv(DATA_DIR / 'submission_format.csv', index_col='sequence_id')

In [53]:
submission_format.head()

,00Q4V31T,012VT4JK,028IO5W2,03GRNN7N,03Y3W51H,09MQV1TY,0A4AHRCT,0A9M05NC,0B9GCUVV,0CL7QVG8,...,ZQNGGY33,ZSHS4VJZ,ZT1IP3T6,ZU6860XU,ZU6TVFFU,ZU75P59K,ZUI6TDWV,ZWFD8OHC,ZX06ZDZN,ZZJVE4HO
sequence_id,,,,,,,,,,,,,,,,,,,,,
E0VFT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTRK5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2Z7FZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
VJI6E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
721FI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
assert submission_format.shape == probas.shape
assert (rf.classes_ == submission_format.columns).all()

In [55]:
my_submission = pd.DataFrame(data=probas, 
                             columns=rf.classes_, 
                             index=submission_format.index)

In [56]:
my_submission.head()

,00Q4V31T,012VT4JK,028IO5W2,03GRNN7N,03Y3W51H,09MQV1TY,0A4AHRCT,0A9M05NC,0B9GCUVV,0CL7QVG8,...,ZQNGGY33,ZSHS4VJZ,ZT1IP3T6,ZU6860XU,ZU6TVFFU,ZU75P59K,ZUI6TDWV,ZWFD8OHC,ZX06ZDZN,ZZJVE4HO
sequence_id,,,,,,,,,,,,,,,,,,,,,
E0VFT,0.000927,0.001113,0.001067,0.000068,0.006602,0.001086,0.001050,0.001065,0.000212,0.000117,...,0.000923,0.000603,0.000147,0.000148,0.001290,0.000733,0.001339,0.000985,0.000260,0.000140
TTRK5,0.000878,0.001021,0.001030,0.000108,0.001031,0.001684,0.000753,0.000962,0.000313,0.000128,...,0.001058,0.000884,0.000247,0.000108,0.000880,0.001016,0.000990,0.001261,0.000257,0.000180
2Z7FZ,0.000706,0.000818,0.000796,0.000284,0.000707,0.001576,0.002453,0.001004,0.000175,0.000075,...,0.001051,0.001019,0.000114,0.000098,0.001007,0.001038,0.001029,0.000776,0.000463,0.000325
VJI6E,0.000400,0.000111,0.000088,0.002032,0.000175,0.000092,0.000069,0.000110,0.002070,0.002038,...,0.000142,0.000108,0.002074,0.001770,0.000166,0.000156,0.000098,0.000162,0.001399,0.001739
721FI,0.000993,0.001157,0.001168,0.000157,0.001019,0.000690,0.000871,0.001112,0.000361,0.000196,...,0.001234,0.000740,0.000336,0.000161,0.000891,0.000721,0.001090,0.001468,0.000322,0.000242

In [58]:
my_submission.to_csv('submission.csv')